<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Is It Blocked In The Uae?</title>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.1/css/bulma.min.css' />
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<style>
		.title {
			font-size: 48px;
		}
	</style>
</head>

<body>
	<section class="section">
		<div class="container">
			<div class="columns is-centered">
				<div class="column is-half has-text-centered">
					<h1 class="title">Is it blocked in the UAE?</h1>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column has-text-centered">
					<form method="POST" action="/">
						<div class="field">
							<div class="control has-icons-left has-icons-right">
								<input class="input is-medium" type="text" placeholder="Domain" name="domain">
								<span class="icon is-left">
									<i class="fas fa-globe"></i>
								</span>
							</div>
						</div>
						<div class="field">
							<div class="control">
								<button class="button is-link">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="columns is-centered">
				<div class="column has-text-centered">
					{{#if didWork}}
					{{#if isBlocked}}
					<div class="notification is-danger">
						<h1>{{domain}} is blocked under the category "{{category}}"!</h1>
					</div>
					{{else}}
					<div class="notification is-success">
						<h1>{{domain}} is not blocked!</h1>
					</div>
					{{/if}}
					{{else if err}}
					<div class="notification is-warning">
						<p>{{{err}}}</p>
					</div>
					{{/if}}
				</div>
			</div>
		</div>
	</section>
</body>